<!DOCTYPE html>
<html lang="en">
<head>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-black">
    <div class="container-fluid">
        <h2 class="navbar-brand text-white m-0">Dashboard</h2>
        <div class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <span class="nav-link active text-white">Welcome, {{ user.username }}</span>
                </li>
                <li class="nav-item dropdown me-3">
                    <a class="nav-link dropdown-toggle text-white" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'login' %}">Logout</a></li>
                        <li>
                            <form method="POST" action="{% url 'delete_account' %}">
                                {% csrf_token %}
                                <button class="dropdown-item text-danger" type="submit">Delete Account</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div>

    <button type="button" class="btn btn-dark m-2 " >
        <a  class="text-white link-underline link-underline-opacity-0" href="{% url 'create_poll' %}">
            Create Poll
        </a>
    </button>


    {% for poll in polls %}
        <div class="border border-dark m-2 p-2 bg-primary bg-opacity-25">
        <div class="d-flex justify-content-between">
            <h2>{{ poll.title }}</h2>
            {% if user == poll.user %}
                <div>
                    <form method="POST" action="{% url 'delete_poll' poll.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn border-2 border-danger text-danger fw-bold">Delete Poll</button>
                        <button type="button" class="btn border-2 border-dark text-dark fw-bold">Edit Poll</button>
                    </form>
                </div>
                {% endif %}
        </div>
            <div>
                {% for option in questions %}
                    {% if option.poll == poll %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{ option.poll }}">
                            <label class="form-check-label">
                                {{ option.text }}
                            </label>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <p class="mt-3 mb-0 fs-6 fw-lighter">Created at {{ poll.created_at }} by {{ poll.user }}</p>
        </div>
    {% endfor %}

</div>


</body>
</html>